############################################
###           Repo settings              ###
############################################
.vscode


############################################
###           Notion wine map            ###
############################################
Notion-Wine-Map/api_key.txt
Notion-Wine-Map/__pycache__
Notion-Wine-Map/database_metadata.json
Notion-Wine-Map/database_content.json

############################################
###           UNESCO Sites               ###
############################################
World-Heritage-Sites/Sites.csv